---
title: Publications
---

<h1>Publications</h1>

<h2>Refereed Papers</h2>
<ol reversed>
  {% for paper in site.data.publications %}
  {% if paper.type == "refereed" %}
    <li>
    {{ paper.authors | join: ", " }},
    "{{ paper.title }}",
    <i>{{ paper.journal }}
      {% if paper.volume %} {{ paper.volume }}{% endif %}
      {% if paper.number %}({{ paper.number }}){% endif %}
      {% if paper.pages %}, {{ paper.pages }}{% endif %}
      {% if paper.year %} ({{ paper.year }}){% endif %}.
      {% if paper.doi %}
      <a href="https://doi.org/{{ paper.doi }}" target="_blank">DOI</a>
    </i>
    {% endif %}
    {% if paper.arxiv and paper.arxiv != "" %}
    <a href="https://arxiv.org/abs/{{ paper.arxiv }}" target="_blank">arXiv</a>
    {% endif %}
    </li>
  {% endif %}
  {% endfor %}
</ol>

<h2>Preprints</h2>
<ol reversed>
  {% for paper in site.data.publications %}
  {% if paper.type == "preprint" %}
  <li>
  {{ paper.authors | join: ", " }},
  "{{ paper.title }}",
  <i>{{ paper.journal }}
    {% if paper.volume %} {{ paper.volume }}{% endif %}
    {% if paper.number %}({{ paper.number }}){% endif %}
    {% if paper.pages %}, {{ paper.pages }}{% endif %}
    {% if paper.year %} ({{ paper.year }}){% endif %}.
    {% if paper.doi %}
    <a href="https://doi.org/{{ paper.doi }}" target="_blank">DOI</a>
  </i>
  {% endif %}
  {% if paper.arxiv and paper.arxiv != "" %}
  <a href="https://arxiv.org/abs/{{ paper.arxiv }}" target="_blank">arXiv</a>
  {% endif %}
  </li>
  {% endif %}
  {% endfor %}
</ol>
